boost_heating:
  fields:
    config_entry_id:
      required: true
      selector:
        config_entry:
          integration: hive_local_thermostat
    minutes_to_boost:
      name: Minutes
      description: Number of minutes to boost (or use default if omitted).
      required: false
      selector:
        number:
          min: 15
          max: 180
          mode: box
    temperature_to_boost:
      name: Temperature
      description: Target temperature to boost to (or use default if omitted).
      required: false
      selector:
        number:
          min: 5
          max: 32
          step: 0.5
          mode: box
cancel_boost_heating:
  fields:
    config_entry_id:
      required: true
      selector:
        config_entry:
          integration: hive_local_thermostat
boost_water:
  fields:
    config_entry_id:
      required: true
      selector:
        config_entry:
          integration: hive_local_thermostat
    minutes_to_boost:
      name: Minutes
      description: Number of minutes to boost (or use default if omitted).
      required: false
      selector:
        number:
          min: 15
          max: 180
          mode: box
cancel_boost_water:
  fields:
    config_entry_id:
      required: true
      selector:
        config_entry:
          integration: hive_local_thermostat